manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/smrna_brandon'
	description = 'Small RNAseq analysis workflow by brandon'
	mainScript = 'main.nf'
}

params {
	verbose = true

	script_dir = '/BiO/BioPeople/brandon/workflow/nextflow/smrna/scripts/'

	resourceDir = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/hg19'

	// path to genome to use
	ref_fasta = "${resourceDir}/seq/hg19.fa"
	db_star = "${resourceDir}/star"

	db_srnaseq = "${resourceDir}/srnaseq"
	gtf_srna_transcripts = "${db_srnaseq}/srna-transcripts.gtf"	
	mature_fa = "${db_srnaseq}/mature.fa"
	hairpin_fa = "${db_srnaseq}/hairpin.fa"
	Rfam_for_miRDeep = "${db_srnaseq}/Rfam_for_miRDeep.fa"
	trna_mature_pre = "${db_srnaseq}/trna_mature_pre.fa"

	gtf_ref_transcripts = "${resourceDir}/rnaseq/ref-transcripts.gtf"

}

profiles {
	standard {
		process.executor = 'local'
	}

	cluster {
		process.executor = 'sge'
		process.memory = '10G'
		process.penv = 'smp'
		process.clusterOptions = '-S /bin/bash'
	}

	test_illumina {
		params.index = 'sample.txt'
		//params.reads = '/BiO/BioPeople/brandon/test_nextflow/smrna/data/testreads/*.fastq'
		params.outdir = '/BiO/BioPeople/brandon/test_nextflow/smrna_brandon/outdir'
		params.adapter = "TGGAATTCTCGGGTGC"
		params.species = 'hsa'
		params.genome = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/hg19/seq/hg19.fa'
		params.bowtie_idx = "/BiO/BioTools/bcbio/data/genomes/Hsapiens/hg19/bowtie/hg19"
        	params.annotation = "$resourceDir/srnaseq/srna-transcripts.gtf" 
		params.gtf = "/BiO/BioPeople/brandon/Reference/gencode.v25lift37.annotation.gtf.gz"
	}

	test_nextflex {
		params.index = 'sample.txt'
		//params.reads = '/BiO/BioPeople/brandon/test_nextflow/smrna/data/testreads_nextflex/*.fq'
		params.outdir = '/BiO/BioPeople/brandon/test_nextflow/smrna_brandon_nextflex/outdir'
		params.adapter = "TGGAATTCTCGGGTGCCAAGG"
		params.species = 'hsa'
		params.genome = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/hg19/seq/hg19.fa'
		params.bowtie_idx = "/BiO/BioTools/bcbio/data/genomes/Hsapiens/hg19/bowtie/hg19"
        	params.annotation = "$resourceDir/srnaseq/srna-transcripts.gtf" 
		params.gtf = "/BiO/BioPeople/brandon/Reference/gencode.v25lift37.annotation.gtf.gz"

		params.nextflex = true
	}
}

env {
	PATH='/BiO/BioTools/miniconda3/envs/smrna_brandon/bin/:$PATH'
}

timeline.enabled = true
trace.enabled = true
