manifest {
    homePage = 'https://github.com/hmkim'
    description = 'Multi-sample variant caller using GATK'
    mainScript = 'variant_call.nf'
}

params {
	gatk {
		cpus = 4
	}
}

profiles {
	standard {
		process.executor = 'local'
		params.steps = 'UnifiedGenotyper,HaplotypeCaller'
	}

	cluster {
		process.executor = 'sge'
		process.memory = '10GB'
		process.penv = 'smp'
		process.clusterOptions = '-S /bin/bash'
	}

	ayj {
		params.bed = '/BiO/BioPeople/brandon/test_nextflow/proton_multisample/ref/AmpliSeqExome.20131001.designed.bed'

		// Input reads
		params.bam_folder = '/BiO/BioPeople/brandon/test_nextflow/proton_multisample_unifiedgenotyper/inputs'
		
		// Output directory/BiO/BioPeople/brandon/test_nextflow/proton_multisample_unifiedgenotyper/
		params.out_folder = '/BiO/BioPeople/brandon/test_nextflow/proton_multisample_unifiedgenotyper/output'

		params.fasta_ref = '/BiO/BioPeople/brandon/test_nextflow/proton_multisample_unifiedgenotyper/ref/hg19/hg19.fasta' 

		params.steps = 'UnifiedGenotyper'
	}
}

env{
	PATH='/BiO/BioTools/miniconda3/envs/ionproton/bin:$PATH'
}

timeline.enabled = true
trace.enabled = true

