manifest {
    homePage = 'https://github.com/hmkim'
    description = 'Multi-sample variant caller using GATK'
    mainScript = 'variant_call.nf'
}

timeline.enabled = true
trace.enabled = true

env{
	PATH='/BiO/BioTools/miniconda3/envs/ionproton/bin:/BiO/BioPeople/brandon/workflow/nextflow/ionproton/bin:$PATH'
}

profiles {
	standard {
		process.executor = 'local'
	}

	cluster {
		process.executor = 'sge'
		process.memory = '10GB'
		process.penv = 'smp'
		process.clusterOptions = '-S /bin/bash'
	}
}
