// Base configuration for the NGS pipelines

params {
    verbose = true

    // path to data
    resourceDir = '/home/holtgrem/Data'

    // path to genome to use
    params.genome = "${resourceDir}/references/grch37/human_g1k_v37.fasta"

    // threads / CPU usage
    fastqc {
        cpus = 4
    }

    // Configuration of BWA mapping (includes piped samtools called)
    bwa {
        cpus = 8
    }

    // Configuration of STAR mapping
    star {
        cpus = 8
    }

    // Configuration of Freebayes calling
    freebayes {
        cpus = 8
    }

   // Configuration of sambamba indexing
    sambamba {
        cpus = 4
    }
}
