manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/smrna'
	description = 'Small RNAseq analysis workflow'
	mainScript = 'main.nf'
}

params {
	verbose = true

	script_dir = '/BiO/BioPeople/brandon/workflow/nextflow/smrna/scripts/'

	reads = '/BiO/BioPeople/brandon/test_nextflow/smrna/data/rawreads/*.fastq'
	
	outdir = '/BiO/BioPeople/brandon/test_nextflow/smrna/outdir'

	adapter = "TGGAATTCTCGGGTGC"


	species = 'hsa'
	resourceDir = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/hg19'

	// path to genome to use
	ref_fasta = "${resourceDir}/seq/hg19.fa"
	db_star = "${resourceDir}/star"

	db_srnaseq = "${resourceDir}/srnaseq"
	gtf_srna_transcripts = "${db_srnaseq}/srna-transcripts.gtf"	
	mature_fa = "${db_srnaseq}/mature.fa"
	hairpin_fa = "${db_srnaseq}/hairpin.fa"
	Rfam_for_miRDeep = "${db_srnaseq}/Rfam_for_miRDeep.fa"
	trna_mature_pre = "${db_srnaseq}/trna_mature_pre.fa"

	gtf_ref_transcripts = "${resourceDir}/rnaseq/ref-transcripts.gtf"

	// threads / CPU usage
	fastqc {
		cpus = 4
	}

	// Configuration of STAR mapping
	star {
		cpus = 8
	}

	// Configuration of sambamba indexing
	sambamba {
		cpus = 4
	}
}

profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'sge'
    process.memory = '10G'
    process.penv = 'smp'
 
  }
}

env {
	PATH='/BiO/BioTools/miniconda3/envs/smrna/bin/:$PATH'
}

timeline.enabled = true
trace.enabled = true
