manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/wes'
	description = 'WES'
	mainScript = 'main.nf'
}

params {
	extension = 'fastq.gz'
	suffix1 = 'R1'
	suffix2 = 'R2'

	sample_info = 'sample_info.txt'
	reads = '/BiO/BioProjects/CUK-Mouse-2016-07-TBD160465/rawdata/*/*_{R1,R2}_[0-9][0-9][0-9].fastq.gz'
	bed = '/BiO/BioProjects/CUK-Mouse-2016-07-TBD160465/Sureselect_mouse_All_Exon_V1.bed'
	fasta_ref = '/BiO/BioResources/References/Mouse/Ens_67_NCBIM37/M_musculus_Ens67.chr.fa'
}

timeline.enabled = true
trace.enabled = true

env {
	PATH='/BiO/BioTools/miniconda3/envs/wes/bin:$PATH'
}

profiles {
        standard {
                process.executor = 'local'
        }

        cluster {
                process.executor = 'sge'
                process.memory = '10GB'
                process.penv = 'smp'
                process.clusterOptions = '-S /bin/bash'
        }
}

