manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/iFinder'
	description = 'insertion analysis workflow'
	mainScript = 'main.nf'
}

params {
	verbose = true

//	reads = '/BiO/BioProjects/AJU-Human-WGS-2016-03-TBD150201/Result/TN1512D0485/05_dedup/*.dedup.bam'
//    reads = '/BiO/BioProjects/AJU-Human-WGS-2016-03-TBD150201/Result/TN1512D0485/04_merge/*.bam'
   reads = '/BiO/BioProjects/AJU-Human-WGS-2016-03-TBD150201/Result/TN1512D0485/02_clean/*_{R1,R2}.fastq'
    //reads = '/BiO/BioProjects/AJU-Human-WGS-2016-03-TBD150201/Result/TN1512D0485/02_clean/*_{R1,R2}.test.fastq'
	
    outdir = '/BiO/BioPeople/brandon/test_nextflow/iFinder/outdir'

    genome = '/BiO/BioProjects/AJU-Human-WGS-2016-03-TBD150201/Reference/TN1504D2001.ref.fa'

    targetContigName = 'LTR_sequence'

	// Configuration of sambamba markdup
	sambamba {
		cpus = 24
	}

    bwa {
        cpus = 48
    }

}

profiles {
	standard {
		process.executor = 'local'
        }

	cluster {
		process.executor = 'sge'
		process.memory = '100G'
		process.penv = 'smp'
		process.clusterOptions = '-S /bin/bash'
	}
}

env {
	PATH='/BiO/BioTools/miniconda3/envs/ifinder/bin/:$PATH'
}

timeline.enabled = true
trace.enabled = true
