manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/vcf_annotation'
	description = 'VCF annotation using snpEff'
	mainScript = 'main.nf'
}

params {
	in_vcf = 'data/*.SNPiRnJUN95.coord_sort.dedupl.remove.reorder.realn.recal.filter.hq.vcf'
	out_dir = './'

	// database
	dbsnp = '/BiO/BioProjects/YSU-Human-RNAseq-2016-06_annotationVCF/ref/human_9606_b147_GRCh37p13/00-All.vcf.gz'
	//cosmic = '/BiO/BioResources/DBs/COSMICDB/v71/CosmicCodingMuts.anno.vcf.gz'
	cosmic = '/BiO/BioProjects/YSU-Human-RNAseq-2016-06_annotationVCF/ref/cosmic/v77/CosmicCodingMuts.vcf.gz'
	gwascatalog = '/BiO/BioTools/snpeff/snpEff_v4.1g/db/GRCh37/gwasCatalog/gwascatalog.txt'

	clinvar = '/BiO/BioTools/miniconda3/envs/vcf_annotation/share/snpeff-4.3-2/db/GRCh37/clinvar/clinvar.vcf.gz'
	dbNSFP = '/BiO/BioTools/miniconda3/envs/vcf_annotation/share/snpeff-4.3-2/db/GRCh37/dbNSFP/dbNSFP2.9.txt.gz'
	ExAC = '/BiO/BioTools/miniconda3/envs/vcf_annotation/share/snpeff-4.3-2/db/GRCh37/exac/ExAC.r0.3.sites.vep.vcf.gz'

	// genome version for snpeff
	genome_version = 'GRCh37.75'

	// snpeff configruation file and snpsift binary path
	snpeff_config = '/BiO/BioTools/miniconda3/envs/vcf_annotation/share/snpeff-4.3-2/snpEff.config'
	snpsift = '/BiO/BioTools/miniconda3/envs/vcf_annotation/share/snpeff-4.3-2/SnpSift.jar'
}

profiles {
	standard {
		process.executor = 'local'
	}

	cluster {
		process.executor = 'sge'
		process.memory = '8G'
		process.penv = 'smp'
		process.clusterOptions = '-S /bin/bash'
	}
}

env {
	PATH='/BiO/BioTools/miniconda3/envs/vcf_annotation/bin/:$PATH'
}

timeline.enabled = true
trace.enabled = true
