manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/vcf_annotation'
	description = 'VCF annotation using snpEff'
	mainScript = 'main.nf'
}

params {
	in_vcf = '/BiO/BioPeople/brandon/Project_AYJ/cohort.g.genotype.vcf'
	out_dir = '/BiO/BioPeople/brandon/Project_AYJ/annotation'
	genome_version = 'GRCh37.75'
}

profiles {
	standard {
		process.executor = 'local'
	}

	cluster {
		process.executor = 'sge'
		process.memory = '8G'
		process.penv = 'smp'
		process.clusterOptions = '-S /bin/bash'
	}
}

env {
	PATH='/BiO/BioTools/miniconda3/envs/vcf_annotation/bin/:$PATH'
}

timeline.enabled = true
trace.enabled = true
