manifest {
	mainScript = 'lncRNA-Annotation.nf'
	description = 'lncRNA annotation from RNA seq paired-end reads'
}

params { 
  output = "results/"
} 

process {
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']
} 

profiles {
	standard {
		process.executor = 'local'
	}

	cluster {
		process.executor = 'sge'
		process.memory = '32G'
		process.penv = 'smp'
	}
	test {
		params.genome  = "$baseDir/tutorial/genome/genome_chr38.fa"
		params.annotation   ="$baseDir/tutorial/annotation/annotation_chr38.gtf"
		params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
	}
}

env {
	PATH = '/BiO/BioTools/miniconda3/envs/lncrna/bin:/BiO/BioTools/FEELnc/bin/LINUX/:$PATH'
}

timeline.enabled = true
trace.enabled = true
