manifest {
    mainScript = 'lncRNA-Annotation.nf'
}

params { 
  output = "results/"
} 

process {
    container = 'cbcrg/lncrna_annotation@sha256:4f293a7f29aecd21085e7bfb7dfd4eb5a82a6a88eb721b829fc44d9fddfd2c50'
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          memory='32G'
          cpus='4'
          time='24h'
          scratch = true
        }
        docker.enabled = true
        docker.fixOwnership = true
    }
    rth {
        process {
          executor='pbs'
          queue='default'
          memory='64G'
          time='24h'
          clusterOptions='-l nodes=1:ppn=12:alone'
        }
    }
    test {
      params.genome  = "$baseDir/tutorial/genome/genome_chr38.fa"
      params.annotation   ="$baseDir/tutorial/annotation/annotation_chr38.gtf"
      params.feelnc_opts = "--monoex=1 --size=50 --minfrac_over=1.0 " 
    }
}

env {
	PATH = '/BiO/BioTools/miniconda3/envs/lncrna/bin:/BiO/BioTools/FEELnc/bin/LINUX/:$PATH'
}
