params {

/* Reference genome
 * ----------------
 * Shortcut, local path, or URL pointing to the FASTA file (or compressed 
 * archive contaning one or more FASTA files).
 * Shortcuts are of the form: <source>.<version>, where the currently 
 * recognized sources are "ensembl" and "ucsc", and the version version 
 * format is specific to the source. For Ensembl human genomes, the version 
 * can be "ensembl.<release>.GRCh<37|38>"; for all other organisms, the 
 * format is "ensembl.<release>.<organism>.<build>". For UCSC, it is simply 
 * "ucsc.<build>".
 */
genome = 'ensembl.75.GRCh37'

/* Annotation
 * ----------
 * Shortcut, local path, or URL pointing to the annotation file (gff or gtf).
 * Shortcuts are of the form: <source>.<version>, where the only currently 
 * recognized source is "gencode", and the version format is specific to the 
 * source. For gencode, the format is "gencode.<release>.<content>.<regions>"
 * where content is one of "comprehensive" or "lncrna" and regions is "chr"
 * or "all".
 */ 
annotation = 'gencode.19.comprehensive.all'

/* Two-column file mapping transcript ID to gene ID. 
 * If this file doesn't exist, the program will try
 * to create it from information in the sleuth output.
 */
tx2geneFile = 'tx2gene.txt'

/* Directory containing fastq files. */
fastqDir = "fastq"

/* FASTQ filename pattern
 * ----------------------
 * By default, FASTQ files are named ${UniqueID}.fq.gz (for single-end libraries)
 * ${lib['UniqueID']}_${PairIndex}.fq.gz (for paired-end libraries). You can specify a 
 * different pattern using a similar format; all metadata columns are accessible 
 * as members of the 'lib' variable, as is the special variables $PairIndex.
 */
fastqPattern = '${lib['UniqueID']}_${PairIndex}.fq.gz'

/* Default condition used for partitioning samples and for differential 
 * expression testing.
 */
condition = "Condition"

/* Differential expression models to test. Each model is of the form
 * [ "<name>", "<formula>", "<var1>[=<value1>][,<var2>=[<value2>],...]"], 
 * where formula is a valid R formula and the list of variables are the
 * response variables to test. The formula may reference any columns in the
 * libraries file. If a variable has more than two possible values, "=<value>" 
 * is used to indicate which value should be used as the basedline for the 
 * comparison. See the Sleuth and DESeq2 documentation for more details on models.
 */
models [
    [ "full", "~Condition", "ConditionCase"]
]

/* File to which the R object containing Sleuth data should be saved. If you 
 * want to keep this file permanently, this must be an absolute path, otherwise
 * it will be deleted when the pipeline completes.
 */
sleuthDataFile = "kallisto_sleuth.RData"

/* File to which the R object(s) containing transcript differential expression
 * results to be saved. There will be one file for each model. The variable 
 * ${model} will be replaced with the model name from the models parameter above.
 */
txDiffExpDataFile = '/path/to/tx_${model}.DRata'

/* File to which the R object(s) containing gene differential expression
 * results to be saved. There will be one file for each model. The variable 
 * ${model} will be replaced with the model name from the models parameter above.
 */
geneDiffExpDataFile = "/path/to/gene_${model}.DRata"

}

process {

/* How to execute jobs. Valid values are: 
 * sge, lsf, slurm, pbs, drmaa, cirrus, dnanexus.
 * See NextFlow documentation for details:
 * http://www.nextflow.io/docs/latest/executor.html
 */
executor = "sge" 

}