manifest {
        homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/sentieon'
        description = 'Sentieon mapping and variant call'
        mainScript = 'wes.nf'
}

/*
---------------------------------------------------------------------------------------
The pipeline can determine whether the input data is single or paired end. This relies on
specifying the input files correctly. For paired en data us the example above, i.e.
'sample_*_{1,2}.fastq.gz'. Without the glob {1,2} (or similiar) the data will be treated
as single end.
----------------------------------------------------------------------------------------
 Pipeline overview:
 - Sentieon
*/


params {
        verbose = true

        script_dir = '/BiO/BioPeople/brandon/workflow/nextflow/smrna/scripts/'

        //reads = '/BiO/BioPeople/brandon/test_nextflow/smrna/data/rawreads/SRR95089{2,3}.fastq.gz'
	//reads = '/BiO/BioPeople/brandon/test_nextflow/wes/example/TN*{R1,R2}_[0-9][0-9][0-9].fastq.gz'
	//reads = '/BiO/BioPeople/brandon/precisionFDA/NA12878*_{1,2}.fastq.gz'

	reads = '/BiO/BioPeople/brandon/precisionFDA/*_{1,2}.fastq.gz'
	outdir = '/BiO/BioPeople/brandon/test_nextflow/sentieon/outdir/'

        // path to data
        resourceDir = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37'

        // path to genome to use
        genome = "${resourceDir}/seq/GRCh37.fa"
	bwa_index = "${resourceDir}/bwa/GRCh37.fa"
	known_sites = "${reourceDir}/variation/Mills_and_1000G_gold_standard.indels.vcf.gz"
	dbsnp = "${resourceDir}/variation/dbsnp_138.vcf.gz"

        // threads / CPU usage
        fastqc {
                cpus = 4
        }

        // Configuration of BWA mapping
        bwa {
                cpus = 8
        }

	// Configuration of sentieon metrics
	sentieon {
		cpus = 4
	}

        // Configuration of sambamba indexing
        qualimap {
                cpus = 4
        }

}

profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'sge'
    process.memory = '10G'
    process.penv = 'smp'

  }
}

env{
	PATH='/BiO/BioTools/miniconda3/envs/sentieon/bin:/BiO/BioTools/sentieon/sentieon-genomics-201606/bin:$PATH'
	SENTIEON_LICENSE='bear0.ptbio.kr:8990'

}

timeline.enabled = true
trace.enabled = true
