manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/contamination'
	description = 'Contamination workflow'
	mainScript = 'main.nf'
}

profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'sge'
    process.memory = '10G'
    process.penv = 'smp'
 
  }
}

env {
	PATH='/BiO/BioTools/miniconda3/envs/contam/bin/:$PATH'
}

timeline.enabled = true
trace.enabled = true
