manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/qc'
	description = 'QC workflow'
	mainScript = 'main.nf'
}


profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'sge'
    process.memory = '10G'
    process.penv = 'smp'
  }
}


