profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'sge'
    process.memory = '30G'
    process.penv = 'smp'
 
  }
}

params {
  genomes {
    GRCh37 {
      bed12   = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed'
      bismark = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/bismark/Bisulfite_Genome'
      bowtie  = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/bowtie/GRCh37'
      bowtie2 = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/bowtie2/GRCh37'
      bwa     = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/bwa/GRCh37.fa'
      fasta   = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/bwa/GRCh37.fa'
      gtf     = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf'
      star    = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/star'
    }
    GRCm38 {
      bed12   = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed'
      bismark = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/BismarkIndex'
      bowtie  = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/BowtieIndex/genome'
      bowtie2 = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome'
      bwa     = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta'
      gtf     = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf'
      star    = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/'
    }
    sacCer2 {
      bismark = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/UCSC/sacCer2/Sequence/BismarkIndex'
      bowtie  = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/UCSC/sacCer2/Sequence/BowtieIndex/genome'
      bowtie2 = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/UCSC/sacCer2/Sequence/Bowtie2Index/genome'
      bwa     = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/UCSC/sacCer2/Sequence/BWAIndex/genome.fa'
      fasta   = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/UCSC/sacCer2/Sequence/WholeGenomeFasta'
      star    = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/UCSC/sacCer2/Sequence/STARIndex/'
    }
  }
}
