manifest {
	homePage = 'https://github.com/hmkim/workflow/tree/master/nextflow/wgs'
	description = 'Whole genome analysis workflow'
	mainScript = 'main.nf'
}

params {
	verbose = true

	name = "Best practice for WGS analysis"

	// Input reads
	reads = '/BiO/BioProjects/TBD160508/WGS/TN1607D2041/*_{R1,R2}.fastq.gz'
	outdir = '/BiO/BioProjects/TBD160508/WGS/Result'

	// Configurable variables
	genome = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/seq/GRCh37.fa'
	bwa_index = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/bwa/GRCh37.fa'
	known_sites = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/variation/Mills_and_1000G_gold_standard.indels.vcf.gz'
	dbsnp = '/BiO/BioTools/bcbio/data/genomes/Hsapiens/GRCh37/variation/dbsnp_138.vcf.gz'
	gatk = "/BiO/BioTools/miniconda3/opt/gatk-3.6/GenomeAnalysisTK.jar" 
	genome_version = "GRCh37.75"

	samblaster = '/BiO/BioTools/samblaster/samblaster_addMetrics/samblaster'

	// threads / CPU usage
	fastqc {
		cpus = 8
	}

	// Configuration of BWA mapping
	bwa {
		cpus = 60
	}

	gatk {
		cpus = 20
	}
}

profiles {
	standard {
		process.executor = 'local'
	}

	cluster {
		process.executor = 'sge'
		process.memory = '10G'
		process.penv = 'smp'
		process.clusterOptions = '-S /bin/bash'
	}
}

env {
	PATH='/BiO/BioTools/miniconda3/envs/wgs/bin:$PATH'
}

timeline.enabled = true
trace.enabled = true
