# This file may be used to create an environment using:
# $ conda create --name wgs -c bioconda --file <this file>
bcftools
bwa
graphviz
samtools
samblaster
r-ggplot2
r-gplots
r-reshape
r-gsalib
snpeff
trim-galore
samblaster
qualimap
picard
gatk
